.contactBox{
    border: 1px solid black;
    max-width:100%;
    min-height:80vh;
    margin: 30px;
    padding: 10px;
    background-color: rgb(12, 153, 19);
    } 

.box{
    height: 130px;
    /* border: 1px solid black; */
    max-width:100%;
    min-width:100%;
    margin: 0;
    padding: 0;
    /* display: inline-block; */
    background-color: rgb(46, 197, 53);
    /* white-space: nowrap;  */
    font-size: 0px;
    } 

.miniBox{
    display: inline-block;
    min-width: 20%;
    white-space: pre;
    background-color: grey;
    padding: 0px;
    margin: 0px;
    word-wrap: break-word;
    font-size: 16px;
}