@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

:root {
    --main-color: #ff9355;
}

body {
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-color: #cccccc;
    font-family: 'Rubik', sans-serif;
}

ul {
    list-style: none;
    padding-left: 0;
}


/* Login */

.login-body {
    padding: 20vh 30vw;
    overflow-y: none;
}

.main-banner {
    font-weight: 500;
    position: absolute;
    left: 30vw;
    width: 40vw;
    top: 100vh;
    transition: 1.5s cubic-bezier(0.22, 1, 0.36, 1);
    text-align: center;
    filter: drop-shadow(1px 1px 2px var(--main-color));
    color: var(--main-color);
}

.main-banner-active {
    top: 20vh;
}

.button-holder {
    display: flex;
    width: 20vw;
    margin-left: 10vw;
}

.button-holder > button {
    width: 10vw;
    height: 3vh;
    background-color: var(--main-color);
    margin: 1vh 0.2vw;
    border: none;
    border-radius: 2px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.button-holder > button:hover{
    cursor: pointer;
    transform: scale(1.05);
    font-weight: 300;
}

.form {
    display: block;
    position: absolute;
    top:40vh;
    transition: 1s;
    
    width: 40vw;
    opacity: 0.95;
    background-color: rgba(255, 160, 105, 0.5);
    border-radius: 5px;
    padding: 20px;
}

.form > form {
    font-family: 'Rubik', sans-serif;
    display: flex;
}

.form > form > input {
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 3px;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    flex-grow: 1;
    height: 4vh;
    margin-right: 10px;
    margin-left: 5px;
}

.form > form > .submit {
    font-weight: 500;
    box-shadow: 3px 3px  5px var(--main-color);
    cursor: pointer;
}



/* Dashboard */

.dashboard-title {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: #cccccc;
}

.dashboard-title > span {
    color: var(--main-color);
}

.dashboard-body {
    margin: 10vh 10vw;
}

.contactBox{
    border: 1px solid black;
    max-width:100%;
    min-height:80vh;
    padding: 10px;
    background-color: #ffd0b6;
    } 

.addContactBox{
    border: 1px solid black;
    max-width:100%;
    min-height:13vh;
    padding: 10px;
    background-color: #ffd0b6;
    } 


.flex-parent {
    display: flex;
    flex-direction: row;
    padding: 10px;
    min-height: 20px;
    border-radius: 5px;
    background-color: var(--main-color);
    align-items: center;
}

.labels {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.labels > .flex-child {

    font-size: 1.3vw;
    text-align: left;
}

.list-group-item {
    margin-bottom: 5px;
}

.list-group-item > input {
    background-color: var(--main-color);
    text-align: left;
}

.list-group-item > input:focus{
    background-color: white;
}

.first-name {
    flex: 1 1;
}

.last-name {
    flex: 1 1;
}

.email {
    flex: 2 2;
}
.phone-number {
    flex: 1.5 1.5;
}
.buttons {
    flex: 1 1;
}

.miniBox{
    display: inline-block;
    min-width: 20%;
    white-space: pre;
    background-color: grey;
    padding: 0px;
    margin: 0px;
    word-wrap: break-word;
    font-size: 16px;
}

/* .list-group {

}

.list-group-item {

} */​

.active {
    /* Visible on page */
    content-visibility: visible;
}

.invisible {
    display: none;
}

.search{
    border: 1px solid black;
    max-width:100%;
    min-height:13vh;
    padding: 10px;
    background-color: #ffd0b6;
}

form{
    background: #fff;
    width: 600px;
    height: 55px;
    display:flex;
}
form input{
    flex: 1;
    border: none;
    outline: none;
}
form button{
    background: tomato;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}