@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

:root {
    --main-color: #ff9355;
}

body {
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-color: #cccccc;
    font-family: 'Rubik', sans-serif;
}

ul {
    list-style: none;
    padding-left: 0;
}


/* Login */

.login-body {
    padding: 20vh 30vw;
    overflow-y: none;
}

.main-banner {
    font-weight: 500;
    position: absolute;
    white-space: nowrap;
    left: 30vw;
    width: 40vw;
    top: 100vh;
    transition: 1.5s cubic-bezier(0.22, 1, 0.36, 1);
    text-align: center;
    filter: drop-shadow(1px 1px 2px var(--main-color));
    color: var(--main-color);
}

.main-banner-active {
    top: 10vh;
    height: 20vh;
}

.button-holder {
    display: flex;
    width: 20vw;
    margin-left: 10vw;
}

.button-holder > button {
    width: 10vw;
    height: 3vh;
    background-color: var(--main-color);
    margin: 1vh 0.2vw;
    border: none;
    border-radius: 2px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 1.0vw;
}

.button-holder > button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.form {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    top:40vh;
    transition: 1s;
    
    width: 40vw;
    opacity: 0.95;
    background-color: rgba(255, 160, 105, 0.5);
    border-radius: 5px;
    padding: 10px;
}

.form > form {
    font-family: 'Rubik', sans-serif;
    display: flex;
    background-color: rgba(255, 160, 105, 1);
    padding-left: 10px;
    align-content: center;
    border-radius: 2px;
}

.form > form > input {
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 3px;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    flex-grow: 1;
    height: 4vh;
    margin-right: 10px;
    padding-left: 8px;
    margin-top: 8px;
    margin-bottom: 5px;
    width: 33%;
}

.form > form > .submit {
    font-weight: 500;
    box-shadow: 3px 3px  5px var(--main-color);
    cursor: pointer;
}



/* Dashboard */

.dashboard-title {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: #cccccc;
    margin-bottom: 0px;
}

.dashboard-title > span {
    color: var(--main-color);
}

.logout {
    margin-top: 5px;
    text-align: center;
}

.logout > a:link, .logout > a:visited {
    color: var(--main-color);
}


.dashboard-body {
    margin: 10vh 15vw;
}

.contactBox{
    border: 1px solid black;
    max-width:100%;
    min-height:80vh;
    padding: 10px;
    background-color: #ffd0b6;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, #f3bfa4,#faf6f4);
} 


.flex-parent {
    display: flex;
    flex-direction: row;
}


.flex-child {
    text-align: left;
}

.list-group-item {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: var(--main-color);
    margin-bottom: 5px;    
}


/* Add a New Contact */
#InputElement {
    background-color: #ff935581;
}

#InputElement > h2 {
    pointer-events: none;
    margin-top: 12px;
    text-align: center;
    height: 50px;
    transition: 0.5s;
    position: absolute;
    width: calc(70vw - 20px);
}

#InputElement > input, #InputElement > button {
    opacity: 0.2;
    transition: 0.5s;
}

#InputElement:focus-within {
    background-color: var(--main-color);
}

#InputElement:focus-within > input,#InputElement:focus-within > button {
    opacity: 1.0;
}

#InputElement:focus-within > h2 {
    opacity: 0;
}


/* Contact Elements*/
.list-group-item > input {
    background-color: var(--main-color);
    border: none;
    height: 50px;
    font-size: 1.3vw;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border-left: 4px inset var(--main-color);
}

.list-group-item > input:focus{
    background-color: white;
}

.list-group-item > .first-name {
    border-left: none;
}

.first-name {
    width: calc((100% - 75px) / 5);
}

.last-name {
    width: calc((100% - 75px) / 5);
}

.email {
    width: calc(2 * (100% - 75px) / 5);
}
.phone-number {
    width: calc((100% - 75px) / 5);
}

.save, .delete {
    right: auto;
    width: 30px;
    height: 30px;
    background-image: url("/assets/icons8-save-30.png");
    border: none;
    margin: 10px 5px;
    border-radius: 5px;
    padding: 0px;
    box-sizing:border-box;
    transition: 0.2s;
    filter: saturate(0.8)
    
}

.save:hover, .delete:hover {
    cursor: pointer;
    transform: scale(1.05);
    filter: drop-shadow(3px 3px 3px rgba(192, 58, 17, 0.7));
}

.save:active, .delete:active {
    transform: translate(-2px,2px);
    filter: saturate(1.5);
}

.save {
    margin-right: 0px;
    background-image: url("/assets/icons8-save-30.png");
}
.delete {
    background-image: url("/assets/icons8-delete-30.png");
}

/* Global props */
.active {
    /* Visible on page */
    content-visibility: visible;
}

.invisible {
    display: none;
}



/* Search Box */
.search{
    border: 1px solid black;
    max-width:100%;
    min-height:6vh;
    padding: 10px;
    background-image: linear-gradient(to bottom right, #ff9355,#ffd0b6);
    border-radius: 5px;
}

.wrapper {
    margin: 8px 0;
  }

  .search-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    }
    
form{
    width: 100%;
    height: 55px;
    display:flex;
}

form input{
    padding: 4px;
    font-size: 1vw;
    margin: 0 4px 0 0;
    border-radius: 5px;
}
  
  
form button{
    background: tomato;
    padding: 17px 18px;
    border: none;
    border-radius: 8px;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    align-self: auto;
    margin: 0 4px 0 0;
}